<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Przebicie</title>

	<script src="{{ STATIC_URL }}js/vendor/jquery-1.11.3.min.js"></script>
	<script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
	<link href="{{ STATIC_URL }}css/vendor/bootstrap.min.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />
	<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,100" rel="stylesheet" type="text/css">

</head>
<body>
	<div class="container">
		<form class="form-horizontal">
			{% csrf_token %}
			<div class="form-data">
				<h2>Materiał</h2>
				<div class="form-group">
					<label for="id_c_class" class="col-sm-2 form-label">Beton</label>
					<div class="col-sm-2 form-input">
						{{ form.c_class }}
					</div>
					<label for="id_s_class" class="col-sm-2 form-label">Stal</label>
					<div class="col-sm-2 form-input">
						{{ form.s_class }}
					</div>
					<label for="id_dsw" class="col-sm-2 form-label">Średnica</label>
					<div class="col-sm-2 form-input">
						{{ form.dsw }} mm
					</div>
				</div>
			</div>
			<div class="form-data">
				<h2>Geometria</h2>
				<div>
					<div>
						<div class="form-group">
							<label for="id_support" class="col-sm-1 form-label">Podpora</label>
							<div class="col-sm-2 form-input">
								{{ form.support }}
							</div>
						</div>
						<div class="form-group">
							<label for="id_sect" class="col-sm-1 form-label">Przekrój</label>
							<div class="col-sm-2 form-input">
								{{ form.sect }}
							</div>
						</div>
						<div class="form-group">
							<label for="id_b" class="col-sm-1 form-label">b =</label>
							<div class="col-sm-2 form-input">
								{{ form.b }} cm
							</div>
						</div>
						<div class="form-group">
							<label for="id_h" class="col-sm-1 form-label">h =</label>
							<div class="col-sm-2 form-input">
								{{ form.h }} cm
							</div>
						</div>
						<div class="form-group">
							<label for="id_dx" class="col-sm-1 form-label">dx =</label>
							<div class="col-sm-2 form-input">
								{{ form.dx }} cm
							</div>
						</div>
						<div class="form-group">
							<label for="id_dy" class="col-sm-1 form-label">dy =</label>
							<div class="col-sm-2 form-input">
								{{ form.dy }} cm
							</div>
						</div>
						<div class="form-group">
							<label for="id_lx" class="col-sm-1 form-label">lx =</label>
							<div class="col-sm-2 form-input">
								{{ form.lx }} cm
							</div>
						</div>
						<div class="form-group">
							<label for="id_ly" class="col-sm-1 form-label">ly =</label>
							<div class="col-sm-2 form-input">
								{{ form.ly }} cm
							</div>
						</div>
						<div class="form-group">
							<label for="id_ad" class="col-sm-1 form-label">ad =</label>
							<div class="col-sm-2 form-input">
								{{ form.ad }} cm
							</div>
						</div>
					</div>
					<div></div>
				</div>
				<div>
					<div class="form-group">
						<label for="id_lambda_u" class="col-sm-1 form-label">λu =</label>
						<div class="col-sm-2 form-input">
							{{ form.lambda_u }} %
						</div>
						<label for="id_asx" class="col-sm-1 form-label">Asx =</label>
						<div class="col-sm-3 form-input">
							{{ form.asx }} cm2
						</div>
						<label for="id_asy" class="col-sm-1 form-label">Asy =</label>
						<div class="col-sm-3 form-input">
							{{ form.asy }} cm2
						</div>
					</div>
				</div>
			</div>
			<div class="form-data">
				<h2>Warunki pracy</h2>
				<div class="form-group">
					<label for="id_dsit" class="col-sm-2 form-label">Sytuacja obliczeniowa</label>
					<div class="col-sm-2 form-input">
						{{ form.dsit }}
					</div>
					<label for="id_ved" class="col-sm-1 form-label">VEd =</label>
					<div class="col-sm-2 form-input">
						{{ form.ved }} kN
					</div>
					<label for="id_beta" class="col-sm-1 form-label">ß =</label>
					<div class="col-sm-2 form-input">
						{{ form.beta }}
					</div>
				</div>
			</div>
			<div class="form-result">
				<h2>Wyniki</h2>
				<button type="button">Oblicz</button>
			</div>
		</form>
		<div class="form-data">
			<div class="form-group">
				<div class="col-sm-4">Nośność na przebicie spełniona.</div>
				<div class="col-sm-4">
					<label class="form-label">VRdc =</label>
					<input /> MPa
				</div>
				<div class="col-sm-4">
					<label class="form-label">VRdmax =</label>
					<input /> MPa
				</div>
			</div>
		</div>
	</div>
</body>
</html>
